{% extends 'base.html' %}

{% block content %}
  <div class="col-md-6">
    <h1 class='display-5 text-center' style="color: #575761;">Edit Profile</h1>
      <form method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.username.label (class_="profile-label")}}
        {{ form.username (class_="form-control profile-input")}}
        {% for error in form.username.errors %}
        <span class="text-danger text-sm">{{ error }}</span>
      {% endfor %}
      </div>
      <div class="form-group">
        {{ form.email.label (class_="profile-label") }}
        {{ form.email (class_="form-control profile-input")}}
        {% for error in form.username.errors %}
        <span class="text-danger text-sm">{{ error }}</span>
      {% endfor %}
      </div>
      <div class="form-group">
        {{ form.password.label (class_="profile-label") }} 
          (<a href="{{ url_for('user_bp.edit_password', username=current_user.username) }}" class="text-secondary">change</a>)
        {{ form.password (class_="form-control profile-input")}}
        {% for error in form.username.errors %}
          <span class="text-danger text-sm">{{ error }}</span>
        {% endfor %}
      </div>
        <button class="btn btn-secondary" style="height: 3.1rem;" type="submit">Submit</button>
        <a href="{{ url_for('index') }}" class="btn btn-outline-secondary ml-1" type="button" style="height: 3.1rem; line-height: 2.1rem;">Cancel</a>
    </form>
  </div>
  <div class="col-md-6 icon">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="virus" class="svg-inline--fa fa-virus fa-w-16 text-white" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M483.55,227.55H462c-50.68,0-76.07-61.27-40.23-97.11L437,115.19A28.44,28.44,0,0,0,396.8,75L381.56,90.22c-35.84,35.83-97.11,10.45-97.11-40.23V28.44a28.45,28.45,0,0,0-56.9,0V50c0,50.68-61.27,76.06-97.11,40.23L115.2,75A28.44,28.44,0,0,0,75,115.19l15.25,15.25c35.84,35.84,10.45,97.11-40.23,97.11H28.45a28.45,28.45,0,1,0,0,56.89H50c50.68,0,76.07,61.28,40.23,97.12L75,396.8A28.45,28.45,0,0,0,115.2,437l15.24-15.25c35.84-35.84,97.11-10.45,97.11,40.23v21.54a28.45,28.45,0,0,0,56.9,0V462c0-50.68,61.27-76.07,97.11-40.23L396.8,437A28.45,28.45,0,0,0,437,396.8l-15.25-15.24c-35.84-35.84-10.45-97.12,40.23-97.12h21.54a28.45,28.45,0,1,0,0-56.89ZM224,272a48,48,0,1,1,48-48A48,48,0,0,1,224,272Zm80,56a24,24,0,1,1,24-24A24,24,0,0,1,304,328Z"></path></svg>
  </div>
</div>   

{% endblock %}