{% extends 'base.html' %}
{% block title%} - My Searches {% endblock %}
{% block content %}
<div class="container-fluid m-4">
  <div class="row">
    {% for search in current_user.searches %}
    <a href="/search/{{search.id}}">
      <div class="col-sm-6 col-xl-2 mt-4">
        <div class="card" id="search-card">
          <img class="card-img-top" src="https://i.ya-webdesign.com/images/line-graph-icon-png-6.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{search.location}} - {{search.date}}</h5>
            <p class="card-text">{{search.description}}</p>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>


{% endblock %}