<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Covid Event Search{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
  <link href="https://unpkg.com/c3@0.7.11/c3.min.css" rel="stylesheet">
  <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body class="search">
  <div class="container">
    {% include 'navbar.html' %}
    <div class="row align-items-center" style="height: 90vh;">
      <div class="col">
        {% if current_user.searches %}
        <div class="row" id="saved-search">
          {% for search in current_user.searches %}
          <div class="card m-2" id="{{search.id}}" style="width: 10rem;">
              <img src="{{ url_for('static', filename='linegraph.jpg') }}" class="card-img-top" alt="line-graph">
              <div class="card-body">
                <h5 class="card-title">{{search.location}}</h5>
              </div>
              <div class="overlay"></div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <h4 class="text-center text-secondary">You have no saved searches.</h4>
        {% endif %}
      </div>
      <div class="col-md-6 border rounded bg-white shadow-lg">
        <div class="row justify-content-center align-items-center" style="height: 30rem;">
          <div class="col text-center">
            <h5 class="text-center d-none" id="search-heading"></h5>
            <span class="text-center d-none" id="search-subtitle"></span>
            <div id="cases-chart"></div>
            <div class="text-center d-none" id="loader">
              <div class="spinner-border" style="color: #99d3FF;" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col ">
            <button class="btn btn-warning font-weight-bold text-white d-none mb-4" id="date-btn">Show Until Search Date</button>
            <button class="btn btn-warning font-weight-bold text-white d-none ml-2 mb-4" id="toggle-btn">Show Deaths</button>
            <button class="btn btn-warning font-weight-bold text-white d-none ml-2 mb-4" id="delete-btn">Delete</button>
          </div>  
        </div>
        <div class="row">
          <div class="col">
            <span class='form-text text-danger d-none text-center' id='message'></span>
          </div>
        </div>
        </div>
      </div>
    </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/d3@5.12.0/dist/d3.min.js"></script>
  <script src="https://unpkg.com/c3@0.7.11/c3.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="{{url_for('static', filename='search.js')}}"></script> 
  <script src="{{url_for('user_bp.static', filename='user_ui.js')}}"></script>
</body>
</html>
