{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-xl-2 mt-4">
      <div class="card">
        <img class="card-img-top" src="https://i.ya-webdesign.com/images/line-graph-icon-png-6.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Date & Location goes here</h5>
          <p class="card-text">Description goes here. Hopefully a thumbnail of graph as image</p>
          <a href="#" class="btn btn-primary">Show Search</a>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}