{% extends 'base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
  <script>
    let frontendId = {{ user_id }}
  </script>
{% else %}
<script>
  let frontendId = false
</script>
{% endif %}
<div class="container mt-4">
  <div class="row">
    <div class="col-12"><h1 class="text-center text-primary mb-2 text-uppercase">Covid-19 Event Search</h1></div>
    <div class="col-12"><h2 class="text-center text-secondary mb-4">search for a date and get data on covid spread</h2> </div>
  </div>

  <form id="search-form" method="POST">  
    <div class="row">
      <div class="col-md-6">
        <input type="text" id="search-input" placeholder="Location" name="Location" required/>
      </div>
      <div class="col-md-6">
        <input type="date" class="form-control text-uppercase" style="height: 3.1rem;" name="date" id="date" class="form-control" placeholder="Date" required>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <button class="btn btn-primary float-right mt-4 text-uppercase" type="submit">Search</button>
    </div>
  </div> 
  </form>
  <div class="row mt-4">
    <div class="col">
      <button class="btn btn-primary text-uppercase d-none" id="date-btn">Show Until Today</button>
      <button class="btn btn-primary text-uppercase d-none" id="toggle-btn">Show Deaths</button>
      <button class="btn btn-outline-primary text-uppercase" id="save-btn">Save Search</button>
    </div>  
  </div>
  <div class="row mt-4">
    <div class="col">
      <div id="cases-chart"></div>
      <div class="text-center d-none" id="loader">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div id="deaths-chart"></div>
    </div>
  </div>
  <div class="card p-2" id='chart-test' style="width: 32rem; height: 16rem;"></div>
  </div>
  </div>

<script src="https://unpkg.com/d3@5.12.0/dist/d3.min.js"></script>
<link href="https://unpkg.com/c3@0.7.11/c3.min.css" rel="stylesheet">
<script src="https://unpkg.com/c3@0.7.11/c3.min.js"></script>
<script src="https://api.mqcdn.com/sdk/place-search-js/v1.0.0/place-search.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/mapquest.js"></script> 
<script src="/static/search.js"></script> 
<script src="/static/ui.js"></script>

<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/place-search-js/v1.0.0/place-search.css"/>
{% endblock %}