{% extends 'base.html' %}

{% block content %}
  <div class="col">
    <div class="row">
      <div class="col">
        <h1 class="display-5" style="color: #575761;">Covid-19 Outbreak Search</h1></div>
    </div>
    <div class="row">
      <div class="col" >
        <p style="color: #575761; font-size: 1.3rem;">
          CoviDate helps you track outbreaks of Covid-19 in USA following certain events. 
          Select a date and a location and follow the change in cases and deaths.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 border rounded bg-white shadow-lg">
    <div class="row justify-content-center">
      <div class="col mt-4">
        <form id="search-form" method="POST">  
          <div class="row">
            <div class="col">
              <input 
                type="text" 
                id="search-input" 
                placeholder="Location in USA" 
                name="Location" 
                class="shadow border-0" 
                required 
              />
            </div>
          </div>
          <div class="row">
            <div class="col mt-4">
              <input 
                type="date" 
                class="form-control shadow border-0" 
                style="height: 3.1rem;" 
                name="date" 
                id="date" 
                placeholder="Date" 
                required
              />
            </div>
          </div>
            <div class="row justify-content-center">
              <div class="col">
                <span class='form-text text-danger d-none text-center' id='search-error'></span>
                <button class="btn btn-primary my-4 rounded shadow float-right" type="submit">Search</button>
              </div>
            </div> 
        </form>
      </div>
    </div>
    <div class="row justify-content-center align-items-center" >
      <div class="col">
        <div id="cases-chart"></div>
        <div class="text-center d-none mb-2" id="loader">
          <div class="spinner-border" style="color: #FFF199;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center mb-4">
        <button class="btn btn-primary d-none" id="date-btn">Show Until Today</button>
        <button class="btn btn-primary d-none ml-2" id="toggle-btn">Show Deaths</button>
        <button class="btn btn-primary d-none ml-2" id="save-btn">Save Search</button>
      </div>  
    </div>
    <div class="row">
      <div class="col">
        <span class='form-text text-danger d-none text-center' id='save-error'></span>
      </div>
    </div>
    <div class="row">
      <div class="col my-4 d-none" id="description-div">
        <span class='form-text d-none text-center mb-2' id='description-msg'>
          Add a description to your search if you'd like.
        </span>
        <input 
            type="text" 
            class="form-control shadow border-0" 
            style="height: 3.1rem;" 
            name="description" 
            id="description" 
            placeholder="Description (optional)" 
          />
      </div>
    </div>
    </div>
  </div>
<link href="https://unpkg.com/c3@0.7.11/c3.min.css" rel="stylesheet">
<script src="https://unpkg.com/d3@5.12.0/dist/d3.min.js"></script>
<script src="https://unpkg.com/c3@0.7.11/c3.min.js"></script>
<script src="https://api.mqcdn.com/sdk/place-search-js/v1.0.0/place-search.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/mapquest.js"></script> 
<script src="/static/search.js"></script> 
<script src="/static/ui.js"></script>
{% endblock %}