{% extends 'base.html' %}

{% block title %} - Sign In{% endblock %}

{% block content %}
<h1>Sign In</h1>
<div class="w full max-w-xs">
  <form action="" method="POST" class="bg-white shadow-md px-8 pt-6 pb-8 mb-4 rounded" novalidate>
  {{ form.hidden_tag() }}
  <div class="mb-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    {{ form.email.label (class_="block text-gray-700 text-sm font-bold mb-2")}}
    {{ form.email (class_="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")}}
  </div>
  <div class="mb-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
     {{ form.password.label (class_="block text-gray-700 text-sm font-bold mb-2")}}
     {{ form.password (class_="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")}}
  </div>

  
  <div class="flex items-center justify-between">
    <button 
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
      type="submit"
    >
    Sign In
    </button>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }} </p>

  </div>

</form>


{% endblock %}

